<h1 style="font-size:3rm;color:pink;">Kim Wolf - Knowledge Check 1

In [1]:
#Import Libraries, Pandas into Juypter Notebook
import requests
import pandas as pd

In [2]:
# Requirement: Pull in data from an API.
# Notes: Import code from library and fetch data. Save the file into local environment. Read the file into a dataframe. 

url = "https://date.nager.at/api/v3/publicholidays/1966/US"
r = requests.get(url)
json = r.json()

In [3]:
# Create the dataframe
df = pd.DataFrame(json["data"])
# View first five rows of dataframe
print(df.head())

TypeError: list indices must be integers or slices, not str

In [ ]:
# Write a query in Pandas to select a particular set of data - Drop two columns of data
characters = df.drop(columns=["appearances","id"])
# View first five rows of data to confirm that the "id" and "appearances" columns were dropped
characters.head()

,name,description,gender,race
0,Anjean,Anjean is a character in Spirit Tracks. She i...,Female,Lokomo
1,Animal Companion,The Animal Companions are three characters in ...,None,None
2,Ancient Oven,The Ancient Oven is a character in Breath of t...,None,None
3,Angler Fish,The Angler Fish is a recurring Boss in The Leg...,None,None
4,Carben,Carben is a character from Spirit Tracks. He i...,Male,Lokomo

In [ ]:
# Write a query in Pandas to select a particular set of data - Select only female characters
characters[characters["gender"] == "Female"]

       name                                        description  gender    race
0    Anjean  Anjean  is a character in Spirit Tracks. She i...  Female  Lokomo
6      Cara        Cara is a character in Breath of the Wild.   Female  Gerudo
12   Flaxel      Flaxel is a character in Breath of the Wild.   Female  Hylian
16   Malena      Malena is a character in Breath of the Wild.   Female  Gerudo
19  Mallara          Mallara is a character in Skyward Sword.   Female  Hylian

In [ ]:
# Find and print TWO descriptive statistics about your data - Return the number of rows and columns in the data
characters.shape

(20, 4)

In [ ]:
# Find and print TWO descriptive statistics about your data - Display a summary of statistics calculated for each column
characters.describe()

,name,description,gender,race
count,20,20,8,12
unique,20,20,2,5
top,Anjean,Anjean is a character in Spirit Tracks. She i...,Female,Hylian
freq,1,1,5,5

In [ ]:
# Select and print the SECOND AND THIRD columns of data frame
characters.iloc[:, [1, 2]]

                                          description  gender
0   Anjean  is a character in Spirit Tracks. She i...  Female
1   The Animal Companions are three characters in ...    None
2   The Ancient Oven is a character in Breath of t...    None
3   The Angler Fish is a recurring Boss in The Leg...    None
4   Carben is a character from Spirit Tracks. He i...    Male
5        Anche is a character in Breath of the Wild.     None
6         Cara is a character in Breath of the Wild.   Female
7   Captain Krin is a character featured in the Th...    None
8   Captain Stalfos is a boss in Freshly-Picked Ti...    None
9   Captain Keeta, also known as Skull Keeta, is a...    None
10         Caprice is a character in The Minish Cap.     None
11  The Champions are a team of five chosen from t...    None
12      Flaxel is a character in Breath of the Wild.   Female
13  Farore is the name of two different people in ...    None
14             Grog is a character in Majora's Mask.     Male
15      Straia is a character in Breath of the Wild.     None
16      Malena is a character in Breath of the Wild.   Female
17           Makar is a character in The Wind Waker.     Male
18  The Magician is a character in The Adventure o...    None
19          Mallara is a character in Skyward Sword.   Female

In [ ]:
# Select and print the FIRST 4 rows of data frame
characters.iloc[:4]

,name,description,gender,race
0,Anjean,Anjean is a character in Spirit Tracks. She i...,Female,Lokomo
1,Animal Companion,The Animal Companions are three characters in ...,None,None
2,Ancient Oven,The Ancient Oven is a character in Breath of t...,None,None
3,Angler Fish,The Angler Fish is a recurring Boss in The Leg...,None,None